@import "tailwindcss";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0 auto;
  scroll-behavior: smooth;
}

body {
  color: #b1b0b0;
  background-color: #0c0c0d;
}

body::-webkit-scrollbar {
  display: none;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
